*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #291B29;
}

.contact h1{
    text-align: right;
    font-size: 10rem;
    opacity: .5;
    transition: .4s;
}
.contact h1:hover{
    opacity: .9;
    color: #ED55ED;
}

form input,
form textarea{
    display: block;
    padding: 20px;
    background-color: #291B29;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

form input:last-child{
    width: 150px;
    background-color: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity .3s;
}
form input:last-child:hover{
    opacity: .5;
}

.resultado{
    display: none;
    width: 70%;
    margin: 20px 15% 10px 15%;
    background-color: #ffd5ff;
    text-align: center;
    padding: 15px;
    border: 2px solid #ED55ED;
}

tbody, tr, .contact{
    overflow: auto;
}

.tabela-crud{
    width: 100%;
    text-align: center;
    border: 3px solid #48CFAD;
}

.tabela-crud tr:first-child{
    font-weight: bold;
    font-size: 25px;
}
.tabela-crud tr:nth-child(2n -1){
    background-color: #CCC;
}
.tabela-crud tr:nth-child(2n){
    color: #707070;
}
.tabela-crud td{
    width: 25%;
    height: 50px;
}
.tabela-crud td a{
    display: inline-block;
    color: #ED55ED;
    width: min-content;
    padding: 0;
}

@media screen and (max-width: 480px) {
    .container{
        padding: 0 15px 0 15px;
    }

    .about h1,
    .work h1,
    .skills h1,
    .contact h1{
        text-align: left;
        font-size: 5rem;
    }

    .contact{
        margin-top: 10px;
    }

    form input,
    form textarea{
        width: 310px;
    }
}

/*Medium Smartphones*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        padding: 0 20px 0 20px;
    }

    .about h1,
    .work h1,
    .skills h1,
    .contact h1{
        font-size: 6rem;
    }

    .contact{
        margin-top: 10px;
    }

    form input,
    form textarea{
        width: 310px;
    }
}

/*Large Smartphones and small notebooks*/
@media screen and (min-width: 769px) and (max-width: 1199px) {
    .container{
        padding: 0 10px 0 10px;
        /*border: 3px solid #ED5565;*/
    }

    .main-info-section{
        padding: 0 50px 0 50px;
    }

    .contact{
        margin-top: 100px;
    }

    form input,
    form textarea{
        width: 500px;
    }
}

/*XLarges Screens*/
@media screen and (min-width: 1200px) {
    .container{
        padding: 0 100px 0 100px;
        /*border: 3px solid #ED5565;*/
    }

    .contact{
        margin-top: 100px;
    }

    form input,
    form textarea{
        width: 500px;
    }
}

.show{
    display: block;
}

.remove{
    display: none;
}