<div class="container navbar">
    <header>
        <div class="lgo">
            <h1><a href="/">Douglas</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="#about">Sobre mim</a></li>
                <li><a href="#skills">Habilidade</a></li>
                <li><a href="#work">Meu trabalho</a></li>
                <li><a href="/login">login</a></li>
                <li class="aLeftbar"><a class="btnbar" href="#">leftbar</a></li>
            </ul>
        </nav>
    </header>
</div>

<div class="container leftbar">
    <header class="header-left">
        <div class="lgo">
            <h1><a href="./index.html">Douglas</a></h1>
        </div>
        <nav>
            <ul class="ul-leftbar">
                <li><a href="#about">Sobre mim</a></li>
                <li><a href="#skills">Habilidade</a></li>
                <li><a href="#work">Meu trabalho</a></li>
                <li><a href="./login.html">login</a></li>
            </ul>
        </nav>
    </header>
</div>

<div class="container about" id="about">
    <h1>Sobre</h1>
    <img class="myphoto" src="/img/MyPhoto.jpeg" alt="">
    <div class="about-me-info">
        <p>Olá, estudei Análise e desenvolvimento de Sistemas na ETEC Albert Einstein. </p>
        <p>Quero poder entrar no mundo da programação e poder aperfeiçoar meu conhecimento.</p>
        <p>Tenho conhecimento nas linguagens: HTML, CSS, JavaScript, PHP e C#, 
            também usando Frameworks como: React.js e Bootstrap, 
            e além disso também possuo conhecimentos em modelagem 3D e animação de personagem.</p>
    </div>
</div>

<div class="container main-info-section" id="mi">
    <div class="text">
        <h1>
            <span>O</span>
            <span class="m-left">l</span>
            <span class="m-left">á</span>
            <span class="m-left">,</span>
            <br>
            <span>E</span>
            <span class="m-left">u</span>
            <span>S</span>
            <span class="m-left">o</span>
            <span class="m-left">u</span>
            <span class="name">D</span>
            <span class="m-left name">o</span>
            <span class="m-left name">u</span>
            <span class="m-left name">g</span>
            <span class="m-left name">l</span>
            <span class="m-left name">a</span>
            <span class="m-left name">s</span>
            <span class="m-left">,</span>
            <br>
            <span>H</span>
            <span class="m-left">e</span>
            <span class="m-left">b</span>
            <span>D</span>
            <span class="m-left">e</span>
            <span class="m-left">s</span>
            <span class="m-left">i</span>
            <span class="m-left">g</span>
            <span class="m-left">n</span>
            <span class="m-left">e</span>
            <span class="m-left">r</span>
            <span class="m-left">.</span>
        </h1>
        <p>CSS / javaScript / React</p>
        <a href="#contact">Meu contato</a>
    </div>
    <div class="profile-image">
        <img src="/img/ReZero-OVA.png" alt="">
    </div>
</div>

<div class="container skills" id="skills">
    <h1>Skills</h1>
    <p class="skills-info">bla bla bla blablalvlsalslalalll alglslvfadflsdfgdslfl aflalsflsdflsd lgflsdlfgsdlgsdf 
    bla bla bla blablalvlsal slalalllalglslvfa dflsdfgdslflaflal sflsdflsdlgflsdlfgsdlgsdf 
    bla bla bla blablalvlsals lalalllalglslvfad flsdfgdslflaflalsflsdfls dlgflsdlfgsdlgsdf</p>
    <div class="bar">
        <div class="progressbar">
            <div class="bar-html"></div>
        </div>
        <div class="progressbar">
            <div class="bar-css"></div>
        </div>
        <div class="progressbar">
            <div class="bar-javascript"></div>
        </div>
        <div class="progressbar">
            <div class="bar-react"></div>
        </div>
    </div>
</div>

<div class="container work" id="work">
    <h1>Work</h1>
    <div class="work-category">
        <button id="designing" class="active" onclick="showRequiredCategory(this)">Web Designing</button>
        <button id="animation" onclick="showRequiredCategory(this)">Web Animation</button>
        <button id="project" onclick="showRequiredCategory(this)">React Projects</button>
    </div>
</div>

<nav class="footer">
    <hr>
    <p>2020 Copyright. All Rights Reserved.</p>
</nav>

<script src="/js/ScrollMagic.min.js"></script>
<script src="/js/animation.gsap.min.js"></script>
<script src="/js/TimelineLite.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/CSSPlugin.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/script.js"></script>