<div class="container navbar">
    <header>
        <div class="lgo">
            <h1><a href="./index.html">Login</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/inserir">Cadastro</a></li>
                <li><a href="/select">Seleção</a></li>
                <li><a href="./enquete.php">Enquete</a></li>
                <li><a href="/">Pagina inicial</a></li>
            </ul>
        </nav>
    </header>
</div>